@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.8);
  }
  
  
  body {
    min-height: 90vh;
    /* background: #ffb8f2; */
    background: #dbe1ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  
  .card {
    width: var(--card-width);
    height: var(--card-height);
    padding: 1px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    animation: myAnim 1s cubic-bezier(0.5, 0, 0.75, 0) 0s 1 normal none;
  }
  @keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: translateY(-65px);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: translateY(-28px);
    }
  
    90% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: translateY(-8px);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  }

  .title-card {
    font-family: 'Poppins', sans-serif;
    color: #e589de  ;
    position: absolute;
    top: 8px;
    left: 11px;
    z-index: 1;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-shadow: 
    1px 1px #1c1b29, 2px 2px #1c1b29,
    3px 3px #5999da, 4px 4px #95999d;
    /* 5px 5px #4b1952, 6px 6px #95999d; */
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #0c4e6d;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

.card .frente{
    position:absolute;
      transform:  rotateY(0deg);
    backface-visibility:hidden;
    transition: transform .4s linear;	
  }

.card .fundo{
    position:absolute;
    transform: rotateY(180deg);
    backface-visibility:hidden;
    transition: transform .4s linear;
  }
.card:hover  .frente{
    transform:  rotateY(-180deg);
    cursor:pointer;
  }
.card:hover  .fundo{
    transform:  rotateY(0deg);
    cursor:pointer;
  }
.card img{
    width:100%;
    border-radius: 10px;
    box-shadow: 1px 5px 34px 3px #000000;
}

.question-text {
  font-family: cursive;
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-break: break-word;
  line-height: 1.5;
}